.login_form {
  width: 30%;
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 18px 16px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1.2rem;
    text-transform: capitalize;
  }
  .btn {
    margin-left: 0;
    padding: 0.8rem 2.5rem;
  }
}
